body {
    background-image: url(envoie-ton-fiak.jfif);
    background-size: 250px;
}
.fiak{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: red;
}