.fiak{
    position: absolute;
    top: 25%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: black;
    font-weight: 500;
}
img {
    position: absolute;
    top: 60%; left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
}
