:root {
  --darkblue: #00008b;
  --blue: #0000ff;
  --darkred: #8b0000;
  --red: #ff0000;
  --white: #ffffff;
  --blak: #000000;
  --background: rgb(223, 223, 223);
}

body{
  font-family: "Open Sans";
  src: url(../fonts/Birthstone-Regular.ttf) ;
}

.grand-titre {
  display: flex;
  cursor: pointer;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #000000b9;
  border-radius: 3px;
  padding: 0px;
  padding-left: 10px;
  margin: 50px 3% 0px 3%;
  justify-content: space-between;
  align-items: center;
}

.grand-titre-p {
  font-size: 20px;
  font-weight: 300px;
}

.bloc-div {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  border-radius: 5px;
  padding-left: 10px;
  margin: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.sous-item {
  max-height: 0px;
  overflow: hidden;
  transition-duration: 0.5s;
}

.sous-item.open {
  max-height: 2000px;
  transition-duration: 0.5s;
}

.fleche {
  height: 8px;
  width: 8px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  margin-right: 5px;
  transform: rotateZ(45deg);
  transition-duration: 0.4s;
}
.fleche.open {
  transform: rotateZ(-45deg);
}

a{
    text-decoration: none;
    color: black;
}